/* Universal rules */
* {
    font-family: 'Courier New', Courier, monospace;
    /* temporary font family */
}

/* Establish variables */
:root {
    --main--bg: white;
    --primary-foreground: black;
    --secondary-foreground: gray;
}

h2 {
    /* right border, establish consistent width */
    border-right: 3px solid var(--primary-foreground);
    font-size: 40px;
    /* width: 200px; */
    flex: 0 0 200px;
    /* 
        Consider formatting to move from left side of screen to above
        section on screen size change (through media query)
    */
}

/* Header + nav formatting */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid black;
}

header figure {
    /* Push left */
    display: flex;
    align-items: flex-start;
}

header figcaption {}

header img {
    height: 100px;
    border-radius: 100% 100% 0 0;
}

header nav,
footer nav {
    /* Push right */
    display: flex;
    align-items: flex-end;
}

header ul,
footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header li,
footer li {
    margin: 5px;
}

/* Hero image formatting */
h3 span {
    color: peachpuff;
}

#about p {
    display: flex;
    flex: 1 1 0;
}

/* Project section formatting */
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

main section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#projects ul {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 0px;
}

#projects li:first-child {
    /* Format first project to scale to full width */
    width: 100%;
}

main article {
    /* format to wrap evenly from line to line */
}

main h3 {
    font-size: 20px;
}

main a {}

/* Contact Formatting */

#contact nav {
    display: flex;
    align-items: center;
}

#contact ul {
    display: flex;
    flex-direction: row;
    align-content: flex-end;

    /* content in row */
}

#contact li {
    margin: 5px;
}

#contact a {
    /* reformat links to not be ugly. Will need to add section with link pseudo classes */
}