/* Universal rules */
* {
    font-family: 'Courier New', Courier, monospace;
    /* temporary font family */
}

/* Establish variables */
:root {
    --main--bg: #6a6892;
    --secondary--bg: #777386;
    --primary-foreground: #23566e;
    --secondary-foreground: #969292;
    --primary-text: #ffffffbe;
    --secondary-text: white;
}

h2 {
    /* right border, establish consistent width */
    border-right: 3px solid var(--primary-foreground);
    font-size: 40px;
    /* width: 200px; */
    flex: 0 0 200px;
    margin-right: 15px;
    /* 
        Consider formatting to move from left side of screen to above
        section on screen size change (through media query)
    */
}

a {
    text-decoration: none;
    color: var(--primary-text);
}

a:visited {
    color: var(--primary-text);
}

/* Header + nav formatting */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid var(--primary-foreground);
    background-color: var(--main--bg);
}

header figure {
    /* Push left */
    display: flex;
    align-items: flex-start;
}

header figcaption {}

header img {
    height: 100px;
    border-radius: 100% 100% 0 0;
}

header nav,
footer nav {
    /* Push right */
    display: flex;
    align-items: flex-end;
}

header ul,
footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header li,
footer li {
    margin: 5px;
}

/* Hero image formatting */
h3 span {
    color: peachpuff;
}

p {
    display: flex;
    flex: 1 1 0;
    color: var(--secondary-text);
    margin: 5px;
}

/* Project section formatting */
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--secondary--bg);
}

main section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}

#projects ul {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 0px;
}

#projects li:first-child {
    /* Format first project to scale to full width */
    width: 100%;
}

#projects article {
    margin: 10px;
    border: 3px solid var(--primary-foreground);
    /* line-height: 0px; */
}

#projects a img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

#projects li:first-child img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

main h3 {
    font-size: 20px;
    color: var(--secondary-text);
    margin: 5px;
}

main a {
    color: var(--secondary-text);
}

main a:visited {
    color: var(--secondary-text);
}

/* Contact Formatting */

#contact nav {
    display: flex;
    align-items: center;
}

#contact ul {
    display: flex;
    flex-direction: row;
    align-content: flex-end;

    /* content in row */
}

#contact li {
    margin: 5px;
}

#contact a {
    /* reformat links to not be ugly. Will need to add section with link pseudo classes */
}